extends layout
block css
  link(rel='stylesheet', href='/styles/printLog.css')

block content
  h1 Сообщения пользователя
  - if (messages.length) {
      table
        th №
        th Комната
        th Логин/Ресурс
        th Ник в конференции
        th Время сообщения
        th Сообщения
        - for (var key in messages)
          - var message=messages[key];

          - var msgDate=new Date(Number(message.logTime));

          - var day = msgDate.getDate()
          - var month = msgDate.getMonth() + 1
          - var year = msgDate.getFullYear()
          - var hour = msgDate.getHours()
          - var min = msgDate.getMinutes()
          - var sec = msgDate.getSeconds()

          - var msgDateStr = day + "-" + month + "-" + year
          - var msgTimeStr = hour + "ч " + min + "м " + sec + "с"

          - var jid = message.sender.split("@",1)

          - if (key%2) {
              tr.even
                 td= key
                 td= message.name
                 td
                     a(href="/searchByJid?jid=" + jid)
                       = message.sender
                 td
                     a(href="/searchByNick?nick=" + message.nickname)
                       = message.nickname
                 td
                    div= msgDateStr
                    div= msgTimeStr
                 td= message.body
          - } else {
              tr.odd
                 td= key
                 td= message.name
                 td
                     a(href="/searchByJid?jid=" + jid)
                       = message.sender
                 td
                     a(href="/searchByNick?nick=" + message.nickname)
                       = message.nickname
                 td
                    div= msgDateStr
                    div= msgTimeStr
                 td= message.body
          - }
  -}
