extends layout
block css
  link(rel='stylesheet', href='/styles/printLog.css')

block content
  h1 User messages
  - if (messages.length) {
      table
        th №
        th Room
        th jid
        th Nickname
        th Datetime
        th Message
        - for (var key in messages)
          - var message=messages[key];

          - var msgDate=new Date(Number(message.logTime));

          - var day = msgDate.getDate()
          - var month = msgDate.getMonth() + 1
          - var year = msgDate.getFullYear()
          - var hour = msgDate.getHours()
          - var min = msgDate.getMinutes()
          - var sec = msgDate.getSeconds()

          - var msgDateStr = month + "-" + day + "-" + year
          - var msgTimeStr = hour + ":" + min + "'" + sec + "''"

          - var jid = message.sender.split("@",1)

          tr.log
             td= key
             td= message.name
             td
                 a(href="/searchByJid?jid=" + jid)
                   = message.sender
             td
                 a(href="/searchByNick?nick=" + message.nickname)
                   = message.nickname
             td
                div= msgDateStr
                div= msgTimeStr
             td= message.body
  -}
